.Btn_container {
  --color-bg: #fdf1f2;
  --color-heart: #ea442b;
  --color-comment: var(--color-primary-blue);
  --easing: cubic-bezier(0.7, 0, 0.3, 1);
  --duration: 0.5s;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: transparent;
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 2;
  -webkit-transition: -webkit-transform var(--duration) var(--easing);
  transition: -webkit-transform var(--duration) var(--easing);
  transition: transform var(--duration) var(--easing);
  transition: transform var(--duration) var(--easing),
    -webkit-transform var(--duration) var(--easing);
  position: relative;
}

.Btn_wrapper {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 1;

  & label {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  & input:checked ~ label > .heart > path {
    fill: var(--color-heart);
  }
  & input {
    display: none;
  }
}
.Btn_wrapper > * {
  margin: auto;
  grid-area: 1 / 1;
}

.heart,
.comment {
  width: 0.7em;
  height: 0.7em;
  display: block;
  -webkit-transform-origin: center 80%;
  transform-origin: center 80%;
  & path {
    pointer-events: none;
  }
}
.heart > path {
  stroke: var(--color-heart);
  stroke-width: 2;
  fill: transparent;
  -webkit-transition: fill var(--duration) var(--easing);
  transition: fill var(--duration) var(--easing);
}
.comment > path {
  stroke: var(--color-comment);
  stroke-width: 2;
  fill: transparent;
}

.Btn_container input:checked ~ label .heart {
  -webkit-animation: heart-bounce var(--duration) var(--easing);
  animation: heart-bounce var(--duration) var(--easing);
}
@-webkit-keyframes heart-bounce {
  40% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  0%,
  80%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes heart-bounce {
  40% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  0%,
  80%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* Added wrapper to prevent layout jank with resizing particles */
.particles {
  width: 1px;
  height: 1px;
  position: relative;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.1em;
  width: 0.1em;
  border-radius: 0.05em;
  background-color: var(--color);
  --percentage: calc(var(--i) / var(--total-particles));
  --Θ: calc(var(--percentage) * 1turn);
  -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0)
    scaleY(0);
  transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
  -webkit-transition: all var(--duration) var(--easing);
  transition: all var(--duration) var(--easing);
}
.Btn_container input:checked ~ .particles .particle {
  -webkit-animation: particles-out calc(var(--duration) * 1.2) var(--easing)
    forwards;
  animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
}
@-webkit-keyframes particles-out {
  50% {
    height: 0.3em;
  }
  50%,
  60% {
    height: 0.3em;
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em)
      scale(1);
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
  }
  60% {
    height: 0.2em;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em)
      scale(0);
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
  }
}
@keyframes particles-out {
  50% {
    height: 0.3em;
  }
  50%,
  60% {
    height: 0.3em;
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em)
      scale(1);
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
  }
  60% {
    height: 0.2em;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em)
      scale(0);
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
  }
}
.ripple {
  pointer-events: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.ripple:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 0.4em solid var(--color-heart);
  border-radius: inherit;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
.Btn_container input:checked ~ .ripple:before {
  -webkit-animation: ripple-out var(--duration) var(--easing);
  animation: ripple-out var(--duration) var(--easing);
}
@-webkit-keyframes ripple-out {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes ripple-out {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Reset the animation when clicking again! */
.Btn_container > input:checked {
  cursor: normal;
}
