.loadingState {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 900;
}
.loginPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headingsContainer {
  text-align: center;
  margin: 1rem;
  & h3 {
    font-weight: 900;
    font-size: 2rem;
  }
}
.mainContainer {
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  // width: 30vw;
  padding: 1em;
  background-color: var(--color-primary-black);
  color: var(--color-light);
  border-radius: 10px;
  & button {
    cursor: pointer;
  }
  & input {
    background-color: var(--color-primary-black);
    color: var(--color-light);
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
    outline: none;
  }
  & label {
    font-size: 1em;
    font-weight: 100;
  }
  & .loginBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
      font-size: 1.2em;
      padding: 0.5em 1em;
      border: none;
      background-color: rgba(255, 255, 255, 0.1);
      color: var(--color-light);
      border-radius: 5px;
      text-transform: uppercase;

      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      &:disabled {
        cursor: wait;
        color: grey;
      }
    }
  }
}

.login {
  margin-top: 1em;
  font-size: 1em;
  & a {
    text-decoration: underline;
  }
}
