@import '../../globals.scss';
.contentContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & > :first-child {
    margin-right: 1rem;
  }

  @include devices(tablet) {
    flex-direction: column;

    & > :first-child {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
.postContainer {
  flex-basis: 70vw;
}
.postHeroImg {
  position: relative;
  width: 100%;
  aspect-ratio: 4/1;
  overflow: hidden;
  box-shadow: 0 5px 10px var(--color-shadow-2);
  border: 2px solid var(--color-back-05);
}
.blogPostContainer {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 3rem;

  & > h1 {
    font-size: 4rem;
    font-weight: 900;
  }
  @include devices(tablet) {
    padding: 0;
    padding-block: 3rem 2em;
    & > h1 {
      font-size: 2.5rem;
      width: 90vw;
      word-wrap: break-word;
    }
  }

  & .userFeedbackContainerOnTop {
    display: none;
    position: sticky;
    bottom: 1em;
    left: 1em;
    width: max-content;

    & > .feedbackBtnsContainer {
      font-size: 2em;
      border: 1px solid var(--color-back-5);
      box-shadow: 0 0 4px var(--color-shadow-2);
      padding: 0;
      margin-top: 1em;
      display: flex;
      width: max-content;
      align-items: center;
      background-color: var(--color-background);
      border-radius: 5px;
      @include devices(tablet) {
        font-size: 3em;
      }
      @include devices(mobile) {
        font-size: 2em;
      }
    }

    @include devices(tablet) {
      display: block;
    }
  }
}

.postInfoInfoContainerStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;

  & .date {
    display: flex;
    align-items: center;
    justify-content: center;
    & .icon {
      margin-right: 0.1em;
      height: 24px;
      aspect-ratio: 1/1;
      & img {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        body:global(.darkTheme) & {
          filter: invert(1);
        }
      }
    }
    & p {
      display: inline-block;
      font-size: 0.9em;
    }
  }

  & .authorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.5em;

    & > :first-child {
      margin-right: 0.5em;
    }

    & .authorName {
      font-weight: 500;
    }
    & .authorImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
    }
  }
}

.postContent {
  margin-top: 2em;
  font-size: 1rem;
  & h1 {
    font-size: 2.5em;
    padding: 0.7em 0 0.3em 0;
  }
  & h2 {
    font-size: 2em;
    padding: 0.5em 0 0.4em 0;
  }
  & h3 {
    font-size: 1.5em;
    padding: 0.3em 0 0.2em 0;
  }

  p {
    line-height: 1.9em;
    padding: 0.5em 0;
  }
  & .postImg {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;

    &.strict {
      aspect-ratio: 16/9;
    }
  }
  ul,
  ol {
    margin-left: 1.5em;
  }
  li {
    list-style-type: square;
    line-height: 1.9em;
  }
  ol {
    & > li {
      list-style-type: decimal;
    }
  }
  a {
    opacity: 0.9;
  }
  & pre:not(pre pre) {
    margin-block: 1rem !important;
  }

  & blockquote {
    font-size: 1em;
    background: var(--color-back-05);
    border-left: 7px solid var(--color-back-3);
    margin: 1em 0;
    padding: 0.1em 15px;
  }

  pre {
    max-width: 70vw;
    overflow-x: auto;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;

    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: var(--color-back-1);
      border-radius: 0.5rem;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: var(--color-back-2);
    }

    @include devices(tablet) {
      max-width: 90vw;
      font-size: 0.9em;
    }
  }

  :not(pre) > code {
    display: inline-block;
    font-family: var(--font-source-code-pro), monospace;
    font-size: 0.8em;
    font-weight: bold;
    background: #efefef;
    color: var(--color-foreground);
    border: 1px solid var(--color-back-1);
    padding: 0.1em 0.5em;
    margin-block: 0.1em;
    border-radius: 0.15em;
    body:global(.darkTheme) & {
      background-color: #171717;
    }
  }
  .codeBlockContainer {
    background-color: #efefef;
    border-radius: 0.5em;
    overflow: hidden;
    body:global(.darkTheme) & {
      background-color: #000000;
    }
    & .codeBlockTopBar {
      display: flex;
      justify-content: space-between;
      border: 1px solid var(--color-back-1);
      border-bottom: none;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      & .codeType {
        font-family: var(--font-source-code-pro), Consolas, Monaco,
          'Andale Mono', 'Ubuntu Mono', monospace;
        width: 100%;
        display: flex;
        padding-left: 0.5rem;
        align-items: center;
        border-top-left-radius: inherit;
      }
      & .copyPasteBtn {
        background: #f4efff;
        position: relative;
        width: 32px;
        height: 32px;
        z-index: 2;
        border: none;
        border-left: 1px solid var(--color-back-1);
        border-top-right-radius: inherit;
        cursor: pointer;
        background-color: #efefef;
        body:global(.darkTheme) & {
          background-color: #050010;
        }

        &:hover {
          &::before,
          &::after {
            border: 1px solid var(--color-back-5);
          }
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 12px;
          aspect-ratio: 1;
          border: 1px solid var(--color-back-2);
          border-radius: 2px;
        }

        &::before {
          right: 5px;
          bottom: 6px;
          z-index: 4;
          background-color: inherit;
        }
        &::after {
          left: 5px;
          top: 6px;
          z-index: 3;
        }

        &.copied {
          &::before,
          &::after {
            transform: translate(-50%, -45%);
          }
          &::before {
            right: unset;
            bottom: unset;
            left: 50%;
            top: 50%;
          }
          &::after {
            left: 50%;
            top: 40%;
          }
        }
      }
    }

    .codeBlockLoader {
      border: 1px solid var(--color-back-1);
      background-color: #efefef;
      width: 70vw;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      body:global(.darkTheme) & {
        background-color: #050010;
      }
    }
  }
}

.authorContainer {
  width: 40vw;
  margin-inline: auto;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 1em;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to right,
    var(--color-primary-blue),
    var(--color-primary-sky)
  );
  color: var(--color-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.2s all;

  @include devices(mobile) {
    padding: 0.2em;
    margin-bottom: 2em;
  }

  &:hover {
    text-decoration: none;
    color: var(--color-background);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px var(--color-primary-blue);
  }

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    left: -100px;
    top: 0;
    // background-color: black;
    transform: skewX(-20deg);
    background-color: rgba(255, 255, 255, 0.2);

    animation: slide 5.5s ease-in-out infinite 2s;

    @keyframes slide {
      0% {
        left: -100px;
      }
      30% {
        left: calc(100% + 50px);
      }
      31% {
        left: calc(100% + 50px);
      }
      100% {
        left: calc(100% + 50px);
      }
    }
  }

  @include devices(tablet) {
    width: 90vw;
  }
}
.authorInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.2s all;
}
.authorPhotoContainer {
  border-radius: 50%;
  margin-right: 2em;
  @include devices(mobile) {
    & > img {
      width: 50px;
      height: 50px;
    }
  }
}
.authorNameContainer {
  font-weight: 500;
  font-size: 1.5rem;
  @include devices(mobile) {
    font-size: 1rem;
  }
}
.authorBioContainer {
  font-size: 1rem;
  @include devices(mobile) {
    font-size: 0.5rem;
  }
}
.authorText {
  opacity: 0.5;
}
