.contentContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & > :first-child {
    margin-right: 1rem;
  }
}
.postContainer {
  flex-basis: 70vw;
}
.postHeroImg {
  position: relative;
  width: 100%;
  aspect-ratio: 4/1;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.blogPostContainer {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 3rem;

  & > h1 {
    font-size: 4rem;
    font-weight: 900;
  }
}

.authorInfoContainerStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;

  & .date {
    display: flex;
    align-items: center;
    justify-content: center;
    & .icon {
      margin-right: 0.1em;
      height: 24px;
      aspect-ratio: 1/1;
      & img {
        width: 100%;
        height: 100%;
        opacity: 0.7;
      }
    }
    & p {
      display: inline-block;
      font-size: 0.9em;
    }
  }

  & .authorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.5em;

    & > :first-child {
      margin-right: 0.5em;
    }

    & .authorName {
      font-weight: 500;
    }
    & .authorImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
    }
  }
}

.postContent {
  margin-top: 2em;
  font-size: 1rem;
  & h1 {
    font-size: 2.5em;
    padding: 0.7em 0 0.3em 0;
  }
  & h2 {
    font-size: 2em;
    padding: 0.5em 0 0.4em 0;
  }
  & h3 {
    font-size: 1.5em;
    padding: 0.3em 0 0.2em 0;
  }

  p {
    padding: 0.5em 0;
  }
  & .postImg {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;

    &.strict {
      aspect-ratio: 16/9;
    }
  }
  ul,
  ol {
    margin-left: 1.5em;
  }
  li {
    list-style-type: square;
  }
  ol {
    & > li {
      list-style-type: decimal;
    }
  }
  a {
    opacity: 0.9;
  }

  pre {
    ::-webkit-scrollbar {
      height: 8px;
    }
    ::-webkit-scrollbar-thumb {
      background: var(--color-dark);
      border-radius: 0.5em;
    }
  }
  :not(pre) > code {
    color: #e7e7e7;
    background: #171717;
    border: 1px solid #3e3c3c;
    padding: 0.05em 0.5em;
    border-radius: 0.15em;
  }
}

.authorContainer {
  width: 40vw;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 1em;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to right,
    var(--color-primary-blue),
    var(--color-primary-sky)
  );
  color: var(--color-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.2s all;

  &:hover {
    text-decoration: none;
    color: var(--color-light);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px var(--color-primary-blue);
  }

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    left: -100px;
    top: 0;
    // background-color: black;
    transform: skewX(-20deg);
    background-color: rgba(255, 255, 255, 0.2);

    animation: slide 5.5s ease-in-out infinite 2s;

    @keyframes slide {
      0% {
        left: -100px;
      }
      30% {
        left: calc(100% + 50px);
      }
      31% {
        left: calc(100% + 50px);
      }
      100% {
        left: calc(100% + 50px);
      }
    }
  }
}
.authorInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.2s all;
}
.authorPhotoContainer {
  border-radius: 50%;
  margin-right: 2em;
}
.authorNameContainer {
  font-weight: 500;
  font-size: 1.5rem;
}
.authorBioContainer {
  font-size: 1rem;
}
.authorText {
  opacity: 0.5;
}
