.contentContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem 0;

  & > :first-child {
    margin-right: 1rem;
  }
}
.postContainer {
  flex-basis: 70vw;
}
.postHeroImg {
  position: relative;
  width: 100%;
  aspect-ratio: 4/1;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.blogPostContainer {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 3rem;

  & > h1 {
    font-size: 4rem;
    font-weight: 900;
  }
}

.authorInfoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;

  & .date {
    display: flex;
    align-items: center;
    justify-content: center;
    & .icon {
      margin-right: 0.1em;
      height: 24px;
      aspect-ratio: 1/1;
      & img {
        width: 100%;
        height: 100%;
        opacity: 0.7;
      }
    }
    & p {
      display: inline-block;
      font-size: 0.9em;
    }
  }

  & .authorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.5em;

    & > :first-child {
      margin-right: 0.5em;
    }

    & .authorName {
      font-weight: 500;
    }
    & .authorImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
    }
  }
}

.postContent {
  margin-top: 2em;
  font-size: 1rem;
  & h1 {
    font-size: 2.5em;
    padding: 0.7em 0 0.3em 0;
  }
  & h2 {
    font-size: 2em;
    padding: 0.5em 0 0.4em 0;
  }
  & h3 {
    font-size: 1.5em;
    padding: 0.3em 0 0.2em 0;
  }

  p {
    padding: 0.5em 0;
  }
  & .postImg {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;

    &.strict {
      aspect-ratio: 16/9;
    }
  }
  ul,
  ol {
    margin-left: 1.5em;
  }
  li {
    list-style-type: square;
  }
  ol {
    & > li {
      list-style-type: decimal;
    }
  }
  a {
    opacity: 0.9;
  }
}
