@import '../../globals.scss';
.heroContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  border: 15px solid var(--color-foreground);
  box-shadow: inset 0 0 5px var(--color-primary-black);
  padding: 5rem;
  border-radius: 10px;

  &:hover::after {
    right: -100%;
    transform: translate(0, -50%) skewX(-30deg);
  }

  &:hover::before {
    left: -100%;
    transform: translate(0, -50%) skewX(-30deg);
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    background: linear-gradient(
      to bottom,
      var(--color-primary-sky),
      var(--color-primary-blue)
    );

    width: 100%;
    height: 100%;
    transition: 0.5s all;
    opacity: 0.4;
  }

  &:after {
    right: -50%;
    transform: translate(0, -50%) skewX(30deg);
    z-index: -1;
    background: var(--color-primary-blue);
  }
  &:before {
    left: -50%;
    transform: translate(0, -50%) skewX(30deg);
    z-index: -1;
    background: var(--color-primary-sky);
  }
  & h1 {
    text-shadow: -2px 2px 5px black;
    padding: 1rem auto;
    font-family: var(--font-nabla);
    font-size: 5rem;
    text-align: center;
  }

  body:global(.darkTheme) & {
    border: 15px solid var(--color-back-07);
    &:before,
    &:after {
      opacity: 1;
      filter: hue-rotate(30deg);
    }
  }
  @include devices(mobile) {
    border: 5px solid var(--color-back-07) !important;
    user-select: none;
    padding: 1rem 0;

    & h1 {
      font-size: 2rem;
    }
  }
}
