.heroContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  & h1 {
    font-family: var(--font-nabla);
    font-size: 10rem;
    text-align: center;
    line-height: 12rem;
  }
}
