.heroContainer {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  & h1 {
    text-decoration: underline;
  }
}
