@import '~react-toastify/dist/ReactToastify.min.css';
:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-inter: '__Inter_0ec1f4';
  --font-nabla: '__Nabla_f71275';
  --color-primary-blue: #8c52ff;
  --color-primary-sky: #5ce1e6;
  --color-primary-black: #111111;
  --color-foreground: #495464;
  --color-foreground-2: #919191;
  --color-background: #fff;

  --color-black-01: rgba(0, 0, 0, 0.01);
  --color-black-02: rgba(0, 0, 0, 0.02);
  --color-black-03: rgba(0, 0, 0, 0.03);
  --color-black-04: rgba(0, 0, 0, 0.04);
  --color-black-05: rgba(0, 0, 0, 0.05);
  --color-black-06: rgba(0, 0, 0, 0.06);
  --color-black-07: rgba(0, 0, 0, 0.07);
  --color-black-08: rgba(0, 0, 0, 0.08);
  --color-black-09: rgba(0, 0, 0, 0.09);
}
html {
  scroll-behavior: smooth;
  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--color-background);
  color: var(--color-foreground);
}

.darkTheme {
  --color-primary-blue: #8c52ff;
  --color-primary-sky: #5ce1e6;
  --color-primary-black: #080808;
  --color-primary-black-2: #1c1c1c;
  --color-foreground: #fff;
  --color-foreground-2: #ededed;
  --color-background: #080808;

  --color-black-01: rgba(0, 0, 0, 0.01);
  --color-black-02: rgba(0, 0, 0, 0.02);
  --color-black-03: rgba(0, 0, 0, 0.03);
  --color-black-04: rgba(0, 0, 0, 0.04);
  --color-black-05: rgba(0, 0, 0, 0.05);
  --color-black-06: rgba(0, 0, 0, 0.06);
  --color-black-07: rgba(0, 0, 0, 0.07);
  --color-black-08: rgba(0, 0, 0, 0.08);
  --color-black-09: rgba(0, 0, 0, 0.09);
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary-black);
  /* border-radius: 5px; */
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-foreground);
}

::selection {
  color: var(--color-primary-black);
  background: var(--color-primary-blue);
}
main {
  margin: 5rem 1rem 0.7rem;
  min-height: 100vh;
}
