:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-m: 'Inter';
  --color-primary-blue: #8c52ff;
  --color-primary-pink: #5ce1e6;
  --color-primary-black: #111111;
  --color-dark: #495464;
  --color-dark-2: #919191;
  --color-light: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--color-light);
  color: var(--color-dark);
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
