.header {
  padding: 0.7rem 1rem;
  padding-bottom: 0.5rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-weight: bolder;
}

.signInBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 0.2em 0.5em;
  margin-left: 1em;
  font-family: var(--font-inter);
  border-radius: 5px;
  color: var(--color-dark);
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  &:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
.signOutBtn {
  border: none;
  // padding: 0.2em 0.5em;
  color: var(--color-dark);
  font-family: var(--font-inter);
  background-color: transparent;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.signInBtn.loadingBtn {
  color: transparent;
  width: 100px;
  position: relative;
  overflow: hidden;
  cursor: default;
  background-color: var(0, 0, 0, 0.1);
  pointer-events: none;
  &:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    transform: skewX(-10deg);
    left: 0;
    top: 0;
    animation: slide 1s linear infinite;
  }
  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }
}

.profileBtn {
  border: none;
  padding: 0.2em 0.5em;
  margin-left: 1em;
  font-family: var(--font-inter);
  border-radius: 5px;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}

.logo {
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    &:hover {
      text-decoration: none;
    }
  }

  & span {
    font-size: 0.7rem;
    font-weight: bolder;
  }
}

.nav {
  & .navLink {
    margin-inline-start: 1rem;
  }
}

.featuredPostsContainer {
  background: var(--color-light);
  // box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  // border: 4px solid rgb(0, 0, 0, 0.2);

  // color: var(--color-light);
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
  & h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.7em;
  }
  & .featuredPosts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    & .featuredPostCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex: 1;
      padding: 1rem;
      margin-inline: 0.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0);
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 0.3rem;
      align-self: stretch;
      position: relative;
      z-index: 0;
      transition: 0.15s all;

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.9);
        &::before {
          opacity: 1;
        }
      }

      &:hover {
        text-decoration: none;
        & h3 {
          text-decoration: underline;
        }
      }

      & h3 {
        margin-bottom: 0.7em;
      }

      &::before {
        content: 'Read More';
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: -10px;
        height: 20%;
        width: max-content;
        z-index: -1;
        opacity: 0;
        transform: translateY(100%) translateX(-50%);
        transition: 0.25s all;
        border-radius: inherit;
        text-decoration: underline;
      }
    }
  }
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem 0;

  & > :first-child {
    margin-right: 1rem;
  }
}
.postsContainer {
  flex-basis: 70vw;

  & .postCard {
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;

    & > a:hover + h1 > .title {
      text-decoration: underline;
    }

    & .postImage {
      width: 100%;
      aspect-ratio: 16/5;
      position: relative;
      border-radius: 0.5rem;
      overflow: hidden;
    }

    & .title {
      display: inline-block;
      font-size: 2.5rem;
      margin: 0.1em 0 0.1em 0;
    }

    & .authorInfoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1em;

      & .date {
        display: flex;
        align-items: center;
        justify-content: center;
        & .icon {
          margin-right: 0.1em;
          height: 24px;
          aspect-ratio: 1/1;
          & img {
            width: 100%;
            height: 100%;
            opacity: 0.7;
          }
        }
        & p {
          display: inline-block;
          font-size: 0.9em;
        }
      }

      & .authorInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1.5em;
        border-radius: 5px;

        transition: 0.15s all;

        &:hover {
          box-shadow: inset 0px -5px 2px rgba(0, 0, 0, 0.1);
        }
        &:active {
          box-shadow: none;
        }

        & > :first-child {
          margin-right: 0.5em;
        }

        & .authorName {
          font-weight: 500;
        }
        & .authorImage {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: relative;
        }
      }
      & .userFeedbackContainer {
        padding: 0.5em 1em;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.2em;

        & .like,
        & .comment {
          font-size: 32px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          & span {
            pointer-events: none;
            font-size: 0.5em;
            font-weight: 500;
            color: var(--color-dark2);
          }
        }
      }
    }
  }
}
.aside {
  flex-basis: 20vw;
  position: sticky;
  top: 5rem;
  & > * {
    border-radius: 0.2rem;
    // border: 2px solid rgba(0, 0, 0, 0.1);

    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    // background-color: rgba(0, 0, 0, 0.01);
    padding: 1rem;
  }
  & > :first-child {
    margin-bottom: 1rem;
  }

  & .postWidgetsContainer {
    padding-top: 0;
    & .postWidgetCard {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      & img {
        margin-right: 1em;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
      & div p:first-child {
        color: rgba(0, 0, 0, 0.3);
        font-size: 0.8em;
      }
    }
  }
  & .categoriesContainer {
    display: flex;
    flex-direction: column;
    & h2 {
      margin-bottom: 0.5rem;
    }

    & a {
      margin: 0.5rem;
      position: relative;
      font-weight: 400;
    }
  }
  & .userFeedbackContainerAside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .like,
    & .comment {
      margin: 0.7rem;
      font-size: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      & span {
        pointer-events: none;
        font-size: 0.5em;
        font-weight: 500;
        color: var(--color-dark2);
      }
    }
  }
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: var(--color-primary-black);
  color: var(--color-light);
  position: relative;
  z-index: 1000;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  margin-bottom: 0.3em;
}
.tagLine {
  font-size: 0.8rem;
  margin-bottom: 1em;
}
.copyrights {
  font-size: 0.7rem;
  font-weight: 100;
}
// .modalContainer {
// }
.modalBG {
  position: fixed;
  inset: 0;
  z-index: 10;
  transition: 0.15s all;
  pointer-events: none;
  &.hideBackground {
    pointer-events: all;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }
}
.modal,
.profilePicModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light);
  padding: 2rem;
  border: 1px solid black;
  z-index: 20;
}
.modalHeader {
  margin-bottom: 1em;
  text-align: center;
}
.modalContent {
  margin: 2em;
}

.avatarsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;

  & .avatarContainer {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    & input:checked + label {
      // border-radius: 50%;
      background-color: var(--color-primary-blue);
      outline: 1px solid var(--color-primary-blue);
    }
    & input {
      display: none;
    }
  }
}

.modalBtns {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  gap: 2em;

  & button {
    border: none;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 0.5em 1em;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.chooseProfilePicBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  padding: 0.5em 1em;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  & .loader {
    font-weight: 500;
  }
}
