.main {
  margin: 0.7rem 1rem;
}
.header {
  margin: 0.7rem 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  font-weight: bolder;
}

.nav {
  & .navLink {
    margin-inline-start: 1rem;
  }
}

.featuredPostsContainer {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.03),
    rgba(0, 0, 0, 0.05)
  );
  padding: 1rem;
  border-radius: 0.5rem;
  & h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.7em;
  }
  & .featuredPosts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    & .featuredPostCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex: 1;
      padding: 1rem;
      margin-inline: 0.5rem;
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      align-self: stretch;
      position: relative;
      overflow: hidden;

      &:hover {
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);

        &::before {
          backdrop-filter: blur(20px);
        }
        &::after {
          transform: translateY(0) translateX(-50%);
        }
      }

      &:hover {
        text-decoration: none;
        & h3 {
          text-decoration: underline;
        }
      }

      &::after {
        content: 'Read More';
        text-decoration: underline;
        position: absolute;
        left: 50%;
        bottom: 0.5em;
        transition: 0.25s transform;
        transform: translateY(150%) translateX(-50%);
        text-align: center;
        font-size: 1em;
        margin: auto;
      }

      & h3 {
        margin-bottom: 0.7em;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30%;
        backdrop-filter: blur(1px);
        transition: 0.25s all;
        mask-image: linear-gradient(
          to top,
          rgb(0, 0, 0, 1),
          rgb(0, 0, 0, 1),
          rgb(0, 0, 0, 1),
          rgb(0, 0, 0, 0.8),
          rgb(0, 0, 0, 0.4),
          rgb(0, 0, 0, 0)
        );
        -webkit-mask-image: linear-gradient(
          to top,
          rgb(0, 0, 0, 1),
          rgb(0, 0, 0, 1),
          rgb(0, 0, 0, 1),
          rgb(0, 0, 0, 0.8),
          rgb(0, 0, 0, 0.4),
          rgb(0, 0, 0, 0)
        );
        border-radius: inherit;
      }
    }
  }
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem 0;

  & > :first-child {
    margin-right: 1rem;
  }
}
.postsContainer {
  flex-basis: 70vw;

  & .postCard {
    border: 2px solid rgba(0, 0, 0, 0.1);

    // background-color: rgba(0, 0, 0, 0.01);
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;

    & .postImage {
      width: 100%;
      aspect-ratio: 16/5;
      position: relative;
      border-radius: 0.5rem;
      overflow: hidden;
    }

    & .title {
      display: inline-block;
      font-size: 2.5rem;
      margin: 0.1em 0 0.1em 0;
    }

    & .authorInfoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1em;

      & .date {
        display: flex;
        align-items: center;
        justify-content: center;
        & .icon {
          margin-right: 0.1em;
          height: 24px;
          aspect-ratio: 1/1;
          & img {
            width: 100%;
            height: 100%;
            opacity: 0.7;
          }
        }
        & p {
          display: inline-block;
          font-size: 0.9em;
        }
      }

      & .authorInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1.5em;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.15s all;

        &:hover {
          // background-color: rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
        }
        &:active {
          box-shadow: none;
        }

        & > :first-child {
          margin-right: 0.5em;
        }

        & .authorName {
          font-weight: 500;
        }
        & .authorImage {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: relative;
        }
      }
    }
  }
}
.aside {
  flex-basis: 20vw;
  position: sticky;
  top: 2rem;
  & > * {
    border-radius: 0.2rem;
    // border: 2px solid rgba(0, 0, 0, 0.1);

    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    // background-color: rgba(0, 0, 0, 0.01);
    padding: 1rem;
  }
  & > :first-child {
    margin-bottom: 1rem;
  }

  & .postWidgetsContainer {
    padding-top: 0;
    & .postWidgetCard {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      & img {
        margin-right: 1em;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
      & div p:first-child {
        color: rgba(0, 0, 0, 0.3);
        font-size: 0.8em;
      }
    }
  }
  & .categoriesContainer {
    display: flex;
    flex-direction: column;
    & h2 {
      margin-bottom: 0.5rem;
    }

    & a {
      margin: 0.5rem;
      position: relative;
      font-weight: 400;
    }
  }
}

.footerContainer {
  padding: 2rem 3rem;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
}
.tagLine {
  font-size: 1rem;
  margin-bottom: 1em;
}
.copyrights {
  font-size: 0.8rem;
}
