.main {
  margin: 0.7rem 1rem;
}

@mixin flex-center-horizontal() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-vertical() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 0.5rem;
  @include flex-center-horizontal();
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.nav {
  & .navLink {
    margin-inline-start: 1rem;
  }
}

.featuredPostsContainer {
  @include flex-center-horizontal();
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.03),
    rgba(0, 0, 0, 0.05)
  );
  padding: 1rem;
  border-radius: 0.5rem;

  & .featuredPostCard {
    @include flex-center-vertical();
    padding: 1rem;
    margin-inline: 0.5rem;
    align-items: flex-start;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
}

.contentContainer {
  @include flex-center-horizontal();
  align-items: flex-start;
  margin: 3rem 0;

  & > :first-child {
    margin-right: 1rem;
  }
}
.postsContainer {
  flex-basis: 70vw;

  & .postCard {
    border: 2px solid rgba(0, 0, 0, 0.1);

    // background-color: rgba(0, 0, 0, 0.01);
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;

    & .postImage {
      width: 100%;
      aspect-ratio: 16/5;
      position: relative;
      border-radius: 0.5rem;
      overflow: hidden;
    }

    & .title {
      display: inline-block;
      font-size: 2.5rem;
      margin: 0.1em 0 0.1em 0;
    }

    & .authorInfoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1em;

      & .date {
        display: flex;
        align-items: center;
        justify-content: center;
        & .icon {
          margin-right: 0.1em;
          height: 24px;
          aspect-ratio: 1/1;
          & img {
            width: 100%;
            height: 100%;
            opacity: 0.7;
          }
        }
        & p {
          display: inline-block;
          font-size: 0.9em;
        }
      }

      & .authorInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1.5em;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.15s all;

        &:hover {
          // background-color: rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
        }
        &:active {
          box-shadow: none;
        }

        & > :first-child {
          margin-right: 0.5em;
        }

        & .authorName {
          font-weight: 500;
        }
        & .authorImage {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: relative;
        }
      }
    }

    & .summary {
    }
  }
}
.aside {
  flex-basis: 20vw;
  position: relative;
  & > * {
    border-radius: 0.2rem;
    border: 2px solid rgba(0, 0, 0, 0.1);

    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    // background-color: rgba(0, 0, 0, 0.01);
    padding: 1rem;
  }
  & > :first-child {
    margin-bottom: 1rem;
  }

  & .recentPostsContainer {
    & .recentPostCard {
      padding: 0.5em 0;
    }
  }
  & .categoriesContainer {
  }
}
