.profilePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mainContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sideMenu {
  width: 15vw;
  font-size: 1em;
  font-weight: 900;
  margin-right: 2em;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  & div {
    margin: 1em;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.contentContainer {
  width: 100%;
  // & .content {
  // }
}
