.loginPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headingsContainer {
  text-align: center;
  margin: 1rem;
  & h3 {
    font-weight: 900;
    font-size: 2rem;
  }
}
.mainContainer {
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  width: 30vw;
  padding: 1em;
  background-color: var(--color-primary-black);
  color: var(--color-light);
  border-radius: 10px;
  & button {
    text-transform: uppercase;
    cursor: pointer;
  }
  & input {
    background-color: var(--color-primary-black);
    color: var(--color-light);
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 10px;
    outline: none;
  }
  & label {
    font-size: 1em;
    font-weight: 100;
  }
  & .loginBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
      font-size: 1.2em;
      padding: 0.5em 1em;
      border: none;
      background-color: rgba(255, 255, 255, 0.1);
      color: var(--color-light);
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
.thirdPartyLoginContainer {
  margin-top: 2rem;
  padding-top: 2rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  &::after {
    content: 'or';
    position: absolute;
    text-align: center;
    top: -0.7em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    padding-inline: 0.5em;
    background-color: var(--color-primary-black);
  }

  & button {
    padding: 0.5em 1em;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color-primary-black);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 100%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-weight: 900;
    transition: 0.15s all;
    &:hover {
      transform: scale(0.97);
    }
  }
}
.register {
  margin-top: 1em;
}
